body{
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2{
    color: rgb(74,74,74);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
    color: rgb(56,182,238)
}

p{
    padding: 8px;
}

/**HEADER**/
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#headerLogo{
    display: flex;
    margin: 24px;
}

nav{
    display: block;
    margin: 24px;
}

nav a{
    margin: 8px;
    text-decoration: none;
    color: black;
}

#gray{
    color: gray;
}

/**MAIN**/
main{
    width: 100%;
}

/*Banner*/
#banner{
    width: 100%;
    margin-top: 68px;
    background-color: lightgray;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#bannerImg{
    width: 60%;
    padding: 32px 24px;
}

#learnNew{
    display: inline-flex;
    flex-direction: column;
    padding: 24px;
}

button{
    background-color: rgb(74,74,74);
    border: rgb(74,74,74) solid 1px;
    color: lightgray;
    padding: 8px;
    width: auto;
}

/*Information*/
#information{
    background-color: white;
    width: 100%;
    display: inline-flex;
}

#infoLeft{
    padding: 32px 24px;
    width: 60%;
}

#infoImg{
    max-width: 100%;
}

#infoRight{
    width: 40%;
    padding: 24px;
    margin-top: 8px;
}

#infoBox{
    width: 65%;
    padding: 16px;
}

#infoDate, #infoCampus, #infoGuest{
    display: inline-flex;
    align-items: center;
    border: lightgray 1px solid;
    width: 100%;
    margin: 1px;

}

#infoDate img, #infoCampus img, #infoGuest img{
    width: 35%;
    padding: 16px;
}

#infoGuest{
    background-color: lightgray
}

/*Start learning*/
#startLearning{
    background-color: lightgray;
    text-align: center;
    padding: 32px;
}

#courses{
    padding: 32px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.courseBox{
    background-color: white;
    margin: 32px;
}

#courseInfo{
    text-align: left;
    padding: 16px 16px 24px 16px;
}